# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Data and large files
*.csv
*.xlsx
*.parquet

# Environment and secrets
.env
MOLIT_DECODED_KEY

# Logs and Info
catboost_info/
lightning_logs/
*.log
tuned_ensemble_log.txt
report.txt

# VS Code
.vscode/

# Models (Optional: Comment out if you want to exclude them)
# models/ 

# Virtual Environments
venv/
.venv/
.pixi/
